$coloBoton:#008843;
$colorAmarillo:#ffc107;
$colorCeleste: #c6d1ff;//color de menu
$colorGris:#dfdfff;//fonde de Card
$colorAzul:#171934;//fondo de Pie y color de letras
$fuenteTitulos:'Roboto', sans-serif;
$fuenteTextos:'Open Sans', sans-serif;;